{% extends 'base.html' %}
{% block contents %}
{% load static %}

<div class="divtest">
    <button id="start-btn" type="button">START</button>
    <div style="padding: 1em;"></div>
    <button id="stop-btn">STOP</button>
</div>

<div id="result-div">
    <span id="result-area">
        <span style="color: gray;">話すとここに文字が表示されます。</span>
    </span>
</div>

<div id="supes"></div>

<script>
const startBtn = document.querySelector('#start-btn');
const stopBtn = document.querySelector('#stop-btn');
const resultDiv = document.querySelector('#result-area');

SpeechRecognition = webkitSpeechRecognition || SpeechRecognition;
let recognition = new SpeechRecognition();

recognition.lang = 'ja-JP';
recognition.interimResults = true;
recognition.continuous = true;

let finalTranscript = ''; // 確定した(黒の)認識結果

recognition.onresult = (event) => {
    let interimTranscript = ''; // 暫定(灰色)の認識結果
    for (let i = event.resultIndex; i < event.results.length; i++) {
        let transcript = event.results[i][0].transcript;
        if (event.results[i].isFinal) {
            finalTranscript += transcript;
        } else {
            interimTranscript = transcript;
        }
    }
    resultDiv.innerHTML = finalTranscript + '<i style="color:#ddd;">' + interimTranscript + '</i>';
}

startBtn.onclick = () => {
    recognition.start();
}
stopBtn.onclick = () => {
    recognition.stop();
}
</script>

<div class="chat-area">
  <form id="main-form" method="post" action="{% url 'sample_app:process' %}">
      {% csrf_token %}
      <label class="ef">
          <input id="user-chat" name="user_chat" type="text" placeholder="例:重要なところまとめて">
      </label>
      <input type="hidden" id="combined-content" name="combined_content">
  </form>
</div>

<a onclick="window.location.reload(true);">
  <i class="rest" aria-hidden="true"></i><span>リセット</span>
</a>

<button href="javascript:void(0);" id="ai-button" onclick="getContent()">確認</button>

<div id="ai-Generate"></div>
<!-- jsで処理された値が入る。音声認識の文字とinputで打ち込んだ文字が合わさる -->

<div id="ai-button-center">
  <a href="#" id="sendbutton" type="button" onclick="sendForm()">↑この内容で処理↑</a>
</div>

<script>
function getContent() {
  var resultText = document.getElementById('result-area').innerText;
  var userInput = document.getElementById('user-chat').value;

  console.log('Result:', resultText);
  console.log('User Input:', userInput);

  document.getElementById('ai-Generate').innerHTML = 
  "<p>" + resultText + "</p>" + "<p style='color: red;'>" + userInput + "</p>";
}

function sendForm() {
  var combinedContent = document.getElementById('ai-Generate').innerText;
  document.getElementById('combined-content').value = combinedContent;
  document.getElementById('main-form').submit();
}
</script>

{% endblock %}
