{% extends 'base.html' %}
{% block contents %}
{% load static %}

<div class="divtest">
    <button id="start-btn" type="button">START</button>
    <div style="padding: 1em;"></div>
    <button id="stop-btn">STOP</button>
</div>

<div id="result-div">
    <span id="result-area">
        <span style="color: gray;">話すとここに文字が表示されます。</span>
    </span>
</div>

<script>
    const startBtn = document.querySelector('#start-btn');
    const stopBtn = document.querySelector('#stop-btn');
    const resultDiv = document.querySelector('#result-area');

    SpeechRecognition = webkitSpeechRecognition || SpeechRecognition;
    let recognition = new SpeechRecognition();

    recognition.lang = 'ja-JP';
    recognition.interimResults = true;
    recognition.continuous = true;

    let finalTranscript = ''; // 確定した(黒の)認識結果

    recognition.onresult = (event) => {
        let interimTranscript = ''; // 暫定(灰色)の認識結果
        for (let i = event.resultIndex; i < event.results.length; i++) {
            let transcript = event.results[i][0].transcript;
            if (event.results[i].isFinal) {
                finalTranscript += transcript;
            } else {
                interimTranscript = transcript;
            }
        }
        resultDiv.innerHTML = finalTranscript + '<i style="color:#ddd;">' + interimTranscript + '</i>';
    }

    startBtn.onclick = () => {
        recognition.start();
    }
    stopBtn.onclick = () => {
        recognition.stop();
    }
</script>

<div id="supes"></div>

<!-- フォームを追加 -->
<form id="result-form" method="get" action="{% url 'sample_app:aichat' %}" style="display: none;">
    <input type="hidden" id="result-input" name="result">
</form>

<div class="chat-area">
  <form method="post">

      <label class="ef">
          <input id="user-chat" name="user_chat" type="text" placeholder="例:重要なところまとめて">
      </label>
  </form>
</div>

<a href="javascript:void(0);" class="ai-button" onclick="getContent()">AIに聞く</a>

<a onclick="window.location.reload(true);">
    <i class="rest" aria-hidden="true"></i><span>リセット</span>
</a>

<!-- 外部JavaScriptファイルの読み込み -->
<script src="{% static 'js/script.js' %}"></script>

<div id="ai-Generate"></div>

{% endblock %}
