<!DOCTYPE html>
{% load static %}
<html lang="ja">
  <head>  
    <link rel="stylesheet" type='text/css' href="{% static 'css/toppage.css'%}">
    
    
    <title> Django音声メモ </title>
    <!-- {% block extra_css %}{% endblock %} -->
</head>
  <body>
    <header class="site-header">
      <div class="wrapper site-header__wrapper">
        <a href="#" class="brand">django</a>
        <nav class="nav">
          <button class="nav__toggle" aria-expanded="false" type="button">
            menu
          </button>
          <ul class="nav__wrapper">
          
            <p>django</p> 

            <p>django</p>
            <!-- <li class="nav__item"><a href="#"> us</a></li>
            <li class="nav__item"><a href="#">user</a></li> -->
          </ul>
        </nav>
      </div>
    </header>
<div class="divtest">

</div>

          {% block contents %}
          <!-- ここがtop_pageの入る部分 -->
          {% endblock %}
        </div>
      
      </div>
    </div>
    </div>
  </body>
</html>





