<!DOCTYPE html>
{% load static %}
<html lang="ja">
  <head>  
    <link rel="stylesheet" type='text/css' href="{% static 'css/toppage.css'%}">
    
    
    <title> Django音声メモ </title>
    <!-- {% block extra_css %}{% endblock %} -->
</head>

  <body>
    <header>
      <!-- <h1 id="header_h1">Django音声メモ</h1> -->
    </header>


<div class="divtest">


</div>

          {% block contents %}
          <!-- ここがtop_pageの入る部分 -->
          {% endblock %}
        </div>
      
      </div>
    </div>
    </div>
  </body>
</html>





