{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>  
    <!-- <link rel="stylesheet" type='text/css' href="{% static 'css/toppage.css'%}"> -->
    <link rel="stylesheet" type='text/css' href="{% static 'css/top-page6.css'%}">
    <link rel="stylesheet" href="{% static 'css/AIchat3.css' %}">
    <script src="{% static 'js/ai-chat.js' %}"></script>
    <script src="{% static 'js/button.js' %}"></script>
    <scrip src="{% static 'js/sendForm.js' %}"></scrip>
    <!-- <script src="{% static 'js/onsei.js' %}"></script> -->
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tsukimi+Rounded&display=swap" rel="stylesheet">
    <title> Django音声メモ </title>
    <!-- {% block extra_css %}{% endblock %} -->
</head>
  <body id="baccr">
    <header class="site-header">
      <div class="wrapper site-header__wrapper">
        <div class="testss">
          <a href="" class="btn_21">AI文字起こし</a>
          
        </div>
          <ul class="nav__wrapper">

            <p>user</p> 
            <p>pr</p>
          </ul>
        </nav>
      </div>
    </header>
  
          {% block contents %}
          <!-- ここがtop_pageの入る部分 -->
          {% endblock %}
  </body>
</html>


